(content/Testing/API/Cheatsheet.md', 'content/Testing/API/Security.md', 'content/Testing/API/Theory.md', 'content/Testing/Automation/Cheatsheet.md', 'content/Testing/Automation/Frameworks.md', 'content/Testing/Automation/Theory.md', 'content/Testing/Manual/Cheatsheet.md', 'content/Testing/Manual/Templates.md', 'content/Testing/Manual/Theory.md')